In [1]:
import utils2
sales_util = utils2.SalesUtils('')

import pandas as pd 
import numpy as np
import time
import gc
import os
import pickle

from itertools import product

from collections import Counter
import re
from operator import itemgetter
from sklearn.preprocessing import LabelEncoder

C:\ProgramData\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
%%time
input_path = '../data/'
d_parser = lambda x: pd.datetime.strptime(x,'%d.%m.%Y')
df_sales           = pd.read_csv(os.path.join(input_path, 'sales_train.csv'), parse_dates =["date"],date_parser=d_parser)
df_items           = pd.read_csv(os.path.join(input_path, 'items.csv'))
df_item_categories = pd.read_csv(os.path.join(input_path, 'item_categories.csv'))
df_shops           = pd.read_csv(os.path.join(input_path, 'shops.csv'))
df_test            = pd.read_csv(os.path.join(input_path, 'test.csv'))

Wall time: 1min 42s

# Train Set Pipeine-1
Cleaning, Imputation, Outliers, Merging, Features etc

In [3]:
%%time
############ DELETING OUTLIERS 
# deleting the quantities which are greater than 1001
df_sales = df_sales[df_sales['item_cnt_day']<=1001]
#any item_cnt_day which is less than 0 should be 0
df_sales.loc[df_sales.item_cnt_day < 1,'item_cnt_day'] = 0 

# values more than 55k could be outliers, so deleting all above 55k
df_sales = df_sales[df_sales['item_price']<= 55000]

#item price, should obviously not be less than 0 ... either it should be deleted or imputed.
df_sales = df_sales[df_sales['item_price'] > 0]

############ ADDING DATE ATTRIBUTES
# Adding the date time attributes (like week day, month number, etc.)
df_sales = sales_util.add_date_attributes(df_sales)

############ REPLACING DUPLICATE SHOPS FROM SALES
# based on the above, duplicating as follows
df_sales['shop_id'].replace({0: 57, 1: 58, 11: 10, 40: 39}, inplace=True)

############ REMOVING OUTDATED SHOPS FROM SALES
outdated_shops = [0, 1, 8, 11, 13, 17, 23, 29, 30, 32, 33, 40, 43, 54]
df_sales = df_sales[df_sales['shop_id'].isin(outdated_shops)==False]

############ MERGING WITH THE SALES AND SHOPS AND ITEMS/ITEM_CATEGORIES
df_sales = sales_util.merge_items_sales_n_shops(df_sales)

############ CREATING THE MONTHLY REVENUE
df_sales['revenue'] = df_sales['item_cnt_day'] * df_sales['item_price']

Wall time: 11.9 s

# Test Set Pipeine-1
Cleaning, Imputation, Outliers, Merging, Features etc

In [6]:
%%time
#1. test data frame, adding date_block_num and month
df_test['date_block_num'] = 34
df_test['month'] = 11

############ REPLACING DUPLICATE SHOPS FROM SALES
# based on the above, duplicating as follows
df_sales['shop_id'].replace({0: 57, 1: 58, 11: 10, 40: 39}, inplace=True)

#2. merging, just like the sales
df_test = sales_util.merge_items_sales_n_shops(df_test)

############ REPLACING DUPLICATE CATEGORY
# duplicate category id
df_test['item_category_id'].replace({8: 80, 27: 74, 75: 76}, inplace=True)

Wall time: 1.03 s

# Train Set Pipeine-2
Advanced feature generation, monthly grouping, merge with the Test set

In [7]:
%%time

############ DAYS IN A MONTH BY DATE_BLOCK_NUM
# getting the number of days, and sundays by date_block_num
days_counts = sales_util.get_days_count()

############ MATRIX CONVERSION BY MONTH SHOP_ID X ITEM_ID for each DATE_BLOCK_NUM
df_matrix = sales_util.get_matrix_by_block(df_sales)

############ MERGING WITH THE SALES AND SHOPS AND ITEMS/ITEM_CATEGORIES
'''
This needs to be performed again, since many of the columns while converting 
to matrix will be ignored
'''
df_matrix = sales_util.merge_items_sales_n_shops(df_matrix)

############ DELETE THE UNWANTED COLUMNS ONCE
df_matrix.drop(['item_category_name','item_cat_en','parent_cat','city_name'])

HBox(children=(FloatProgress(value=0.0, max=34.0), HTML(value='')))

Wall time: 1min 10s

In [8]:
df_matrix.head()

,shop_id,item_id,date_block_num,month,target,revenue,target_shop,revenue_shop,target_item,revenue_item
274678,2,19,0,1,0.0,0.0,1151.0,1091137.01,1.0,28.00
276580,2,27,0,1,1.0,2499.0,1151.0,1091137.01,7.0,16275.00
276361,2,28,0,1,0.0,0.0,1151.0,1091137.01,8.0,4392.00
276705,2,29,0,1,0.0,0.0,1151.0,1091137.01,5.0,11886.00
271695,2,32,0,1,0.0,0.0,1151.0,1091137.01,243.0,82739.86

In [ ]:
      'date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day', 'day', 'month', 'weekday', 'weekdayno', 'year',
       'item_category_id', 'name_2', 'name_3', 'item_category_name',
       'item_cat_en', 'parent_cat', 'parent_cat_id', 'city_id', 'city_name',
       'revenue'

In [9]:


############ ADVANCE FEATURES .. MEAN ENCODING

In [10]:
set(df_matrix.columns) - set(df_sales.columns)

{'revenue_item', 'revenue_shop', 'target', 'target_item', 'target_shop'}

In [11]:
set(df_sales.columns) - set(df_matrix.columns)

{'date', 'day', 'item_cnt_day', 'item_price', 'weekday', 'weekdayno', 'year'}

In [12]:
df_matrix.head(3)

,shop_id,item_id,date_block_num,month,target,revenue,target_shop,revenue_shop,target_item,revenue_item,item_category_id,name_2,name_3,item_category_name,item_cat_en,parent_cat,parent_cat_id,city_id,city_name
0,2,19,0,1,0.0,0.0,1151.0,1091137.01,1.0,28.0,40,0,42,Кино - DVD,Cinema - DVD,cinema,6,0,Adygea
1,2,27,0,1,1.0,2499.0,1151.0,1091137.01,7.0,16275.0,19,5,42,Игры - PS3,Games - PS3,games,9,0,Adygea
2,2,27,1,2,0.0,0.0,489.0,523629.00,3.0,5994.0,19,5,42,Игры - PS3,Games - PS3,games,9,0,Adygea

In [ ]:
df_shops.groupby(['shop_cat']).count()

In [ ]:
df_shops['city'] = df_shops['shop_name'].str.split(' ').map(lambda x: x[0])
df_shops['shop_cat'] = df_shops['shop_name'].str.split(' ').map(lambda x: x[1]).astype(str)
df_shops.loc[df_shops.city == '!Якутск', 'city'] = 'Якутск'
shop_category = ['ТК','ТРК','ТРЦ','ТЦ']
df_shops.shop_cat = df_shops.shop_cat.apply(lambda x: x if (x in shop_category) else 'etc')

In [ ]:
df_shops['shop_cat'].unique()

In [ ]:
df_shops.groupby(['city']).sum()

In [ ]:
len(df_shops[df_shops.shop_cat=='ТЦ'])

In [ ]:
df_shops.shop_cat.sum()

In [ ]:
df_items.item_name.unique()

In [ ]:
df_items['name_1'], df_items['name_2'] = df_items['item_name'].str.split('[', 1).str
df_items['name_1'], df_items['name_3'] = df_items['item_name'].str.split('(', 1).str


df_items['name_2'] = df_items['name_2'].str.replace('[^A-Za-z0-9А-Яа-я]+', ' ').str.lower()
df_items['name_3'] = df_items['name_3'].str.replace('[^A-Za-z0-9А-Яа-я]+', ' ').str.lower()
df_items = df_items.fillna('0')

In [ ]:
df_items[['item_name','name_1','name_2','name_3']]

In [ ]:
#df1 = Counter(' '.join(df_items['name_2'].values.tolist()).split(' ')).items()
df1 = Counter(' '.join(df_items['name_2'].values).split(' ')).items()
df1 = sorted(df1, key=itemgetter(1))
df1 = pd.DataFrame(df1, columns=['feature', 'count'])
df1.fillna(0)
df1 = df1[(df1['feature'].str.len() > 1) & (df1['count'] > 200)]

df2 = Counter(' '.join(df_items['name_3'].values).split(' ')).items()
df2 = sorted(df2, key=itemgetter(1))
df2 = pd.DataFrame(df2, columns=['feature', 'count'])
df2.fillna(0)
df2 = df2[(df2['feature'].str.len() > 1) & (df2['count'] > 200)]

item_feature_set = pd.concat([df1,df2])
item_feature_set = item_feature_set.drop_duplicates(subset=['feature']).reset_index(drop=True)

def name_correction(x):
    x = x.lower()
    x = x.partition('[')[0]
    x = x.partition('(')[0]
    x = re.sub('[^A-Za-z0-9А-Яа-я]+', ' ', x)
    re.sub('[^A-Za-z0-9А-Яа-я]+', ' ', x)
    x = x.strip()
    return x

df_items['item_name'] = df_items['item_name'] .apply(lambda x: name_correction(x))
df_items.name_2 = df_items.name_2.apply(lambda x: x[:-1] if x!='0' else '0')

In [ ]:
df_items['type'] = df_items.name_2.apply(lambda x: x[0:8] if x.split(' ')[0] == 'xbox' else x.split(' ')[0])
df_items.loc[(df_items.type == 'x360') | (df_items.type == 'xbox360'), 'type'] = 'xbox 360'
df_items.loc[df_items.type == '', 'type'] = 'mac'
df_items.type = df_items.type.apply(lambda x: x.replace(' ',''))

df_items.loc[(df_items.type == 'pc') | (df_items.type == 'pс') | (df_items.type == 'рс'), 'type'] = 'pc'
df_items.loc[(df_items.type == 'рs3'), 'type'] = 'ps3'

In [ ]:
df_items[df_items.type=='psp']

In [ ]:
group_sum = df_items.groupby('type', as_index=False).sum()

#the sum of all item_category_ids under a particular type shoudl be greater than 200
to_del_types = group_sum.loc[group_sum.item_category_id < 200].type.tolist() 
group_sum.loc[group_sum.item_category_id < 200]

In [ ]:
to_del_types

In [ ]:
df_items.name_2 = df_items.type.apply(lambda x: 'etc' if x in to_del_types else x)
df_items = df_items.drop(['type'], axis=1)
df_items.groupby(['name_2']).sum()

In [ ]:
df_items.head()

In [ ]:
df_items['name_2'] = LabelEncoder().fit_transform(df_items['name_2'])
df_items['name_3'] = LabelEncoder().fit_transform(df_items['name_3'])
df_items.drop(['item_name', 'name_1'], axis=1, inplace=True)
df_items.head()

In [ ]:
t = Counter(s).items()

In [ ]:
t