# EDA

### 0. Importing necessary Libraries

In [1]:
import gc
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
DATA_FOLDER = '../data/'
import utils

### 1. Read the last saved file

In [3]:
%%time
df_sales = pd.read_csv(os.path.join(DATA_FOLDER, 'sales_combined.csv'))

Wall time: 6.43 s

In [6]:
df_sales.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,day,month,weekday,weekdayno,year,item_category_id,parent_cat_id,parent_cat
0,2013-01-02,0,59,22154,999.0,1,2,1,Wednesday,2,2013,37,6,cinema
1,2013-01-23,0,24,22154,999.0,1,23,1,Wednesday,2,2013,37,6,cinema
2,2013-01-20,0,27,22154,999.0,1,20,1,Sunday,6,2013,37,6,cinema
3,2013-01-02,0,25,22154,999.0,1,2,1,Wednesday,2,2013,37,6,cinema
4,2013-01-03,0,25,22154,999.0,1,3,1,Thursday,3,2013,37,6,cinema

In [ ]:
### 2. Adding the public holidays to the dataset